main {
    padding: 20px;
    background: var(--primary-color);
    color: var(--secondary-font-color);
    min-height: calc(100vh - 100px);
    min-width: 820px;
}

#content {
    opacity: 0;
}
.main {
    opacity: 1 !important;
    transition: opacity ease-in-out .15s;
}


canvas {
    border-radius: 5px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
}

section {
    border-radius: 5px;
    margin: 0px auto 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    background: var(--secondary-color);
}

section code ul {
    font-size: 12px; 
    list-style: none;
}
section code ul.forloop li {
    margin-left: 45px;
}

section code ul.forloop .ifstate{
    margin-left: 25px;
}

section code ul li:hover {
    background: rgba(0,0,0, .6);
}
section code ul li {
    border-radius: 5px;
    padding: 2px;
    margin: 3px 0 0 25px; 
    background: rgba(0,0,0, .2);
    transition: background ease-in-out .25s;
}
section h1 {
    width: 100%;
}
.col-1 {
    flex: 1;
}
section .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

section .container div {
    margin: 10px;
}


.actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.actions button {
    user-select: none;
    color: var(--secondary-color);
    cursor: pointer;
    width: 120px;
    margin: 5px;
    padding: 5px;
    transition: opacity ease-in-out .25s, background ease-in-out .10s, color ease-in-out .15s;
    border: none;
    border-radius: 5px;
    outline: none;

}


.actions button:hover {
    background: rgba(255, 255, 255, .2);
    color: var(--secondary-font-color);
}

.actions button:active {
    font-size: 8px;
    width: 110px;
    transition: font-size, width ease-in-out .05s;
}

.hide {
    opacity: 0;
    pointer-events: none;
    transition: opacity ease-in-out .25s;
}


.info {
    display: flex;
    align-items: flex-start;
    width: 100%;    
    flex-direction: row;
    justify-content: space-evenly;
}
.info > * {
    margin: 15px;
    width: 35%;
}

.info p {
    line-height: 28px;
    text-indent: 15px;
    word-spacing: 1px;

}
.info code {
    font-weight: 900;
    color: black;
    background: #fff;
    padding: 2px;
    border-radius: 5px;
    font-size: 20px;
}
.notes {
    flex: 1;
    color: var(--secondary-font-color);
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    margin: 0px 0px 10px 0px;
    line-height: 22px;
}

.notes a {
    display: block;
    padding: 20px;
    text-align: right;
    color: var(--secondary-font-color);
}

.notes p:first-child::before, .notes p:first-child::after {
    content: "\"";
    padding: 5px;
}


.runtime {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.runtime div {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.runtime div div {
    display: flex;
    flex-direction: column;
    background: var(--primary-color);
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 1px var(--secondary-font-color);
}

.runtime ul {
    list-style: none;
}

.runtime ul li {
    font-size: 10px;
}
